$color-light-blue: #d7e0ff;
$color-dark-blue: #1e213f;
$color-dark-blue-2: #161932;
$color-white: #fff;
$color-light-grey: #eff1fa;


$font-size-h1: 10rem;
$font-size-h2: 2.8rem;
$font-size-h3: 1.6rem;
$font-size-h4: 1.3rem;
$font-size-body-1: 1.4rem;
$font-size-body-2: 1.2rem;


$line-height-h1: 12rem;
$line-height-h2: 3.4rem;
$line-height-h3: 1.9rem;
$line-height-h4: 1.6rem;
$line-height-body-1: 1.8rem;
$line-height-body-2: 1.4rem;


$letter-spacing-h3: 1.5rem;
$letter-spacing-h4: 0.5rem;

$color-selected: var(--color-selected);
$font-selected: var(--font-selected);