@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

@import "./variables";
@import "./logo/logo";
@import "./modal/backdrop";
@import "./modal/modal";
@import "./modal/settingsForm";
@import "./modal/settingsWindow";
@import "./notification/notification";
@import "./timer/progressBar";
@import "./timer/timer";
@import "./timer/timerSwitch";
@import "./ui/button";
@import "./ui/inputNumber";
@import "./ui/inputRadio";
@import "./icon/icon";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-selected;
}

main {
  min-height: 100vh;
  background-color: $color-dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 6rem;
  font-weight: 700;
}

button,
input {
  border: none;
  outline: none;
  font: inherit;
}

button {
  cursor: pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type='number'] {
  -moz-appearance: textfield;
}

h1,
h3 {
  color: $color-white;
}

h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
}

h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
}

h3,
h4 {
  text-transform: uppercase;
}

h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  letter-spacing: $letter-spacing-h3;
  padding-left: $letter-spacing-h3;
}

h4 {
  font-size: $font-size-h4;
  line-height: $line-height-h4;
  letter-spacing: $letter-spacing-h4;
  padding-left: $letter-spacing-h4;
}


.gradient-01 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 0;
  top: 0;
  
  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-02 {
  margin-top: 200px;
  position: absolute;
  width: 300px;
  height: 438px;
  top: 0px;
  right: 0px;
  
  background: #7aebfb;
  filter: blur(190px);
}

@media (max-width: 37.5em) {
    $font-size-h1: 7rem;
    $font-size-h2: 2rem;
    $font-size-h3: 1.4rem;
    $font-size-h4: 1.2rem;

    .gradient-01 {
      width: 0px;
      height: 0px;
    }

    .gradient-02 {
      width: 0px;
      height: 0px;
    }
}
